@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html {
    font-family: 'Raleway', sans-serif;
}

body {
    background: rgb(71, 71, 80);
    display: flex;
    justify-content: center;
    align-items: flex-start ;
}

.calculator {
    background: white;
    margin-top: 24px;
    padding: 8px 16px;
    border-radius: 4px;
    width: 80vw;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.calculator__header {
    text-align: center;
    font-size: 26px;
}

.form__row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 8px 0;
    border: 2px solid rgb(112, 112, 112);
    border-radius: 4px;
}

.form__row label {
    flex-basis: 35%;
    font-size: 12px;
    background: rgb(199, 199, 199);
    padding: 8px 2px;
    border-right: 1px solid rgb(112, 112, 112);
}

.form__item {
    flex-basis: 65%;
    border:none;
    font-size: 12px;
    padding: 8px 4px;
}

.calculator__button {
    width: 100%;
    background: rgb(87, 91, 102);
    color: white;
    font-size: 14px;
    padding: 8px 0;
    margin: 16px 0 24px;
    border: none;
    border-radius: 4px;
    transition: .2s linear;
}

.calculator__button:hover {
    background: rgb(36, 38, 43);
    cursor: pointer;
}

.calculator__secondary-header {
    font-size: 18px;
    text-align: center;
}

.calculator__error {
    background: rgba(221, 131, 131, 0.692);
    font-size: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px crimson solid;
    border-radius: 4px;
}

.calculator__image-container, .calculator__form--results {
    display: none;
}



